body{
     background-image: url('https://img.freepik.com/premium-photo/minimalist-office-interior-design-with-pink-chair-desk_840989-6116.jpg'); 
     background-repeat: no-repeat;
     background-size:cover;
}